* {
    box-sizing: border-box;
}

html {
    font-family: lato-regular, serif;

    line-height: 1.25;
}

body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.2065;
    color: var(--clr3);
}

h2 {
    font-family: lato-bold;
    font-size: 1.75em;
    margin: 0 0 2.8125rem;
}

p {
    margin: 0 0 2em;
}

a {
    font-family: lato-regular;
    text-decoration: none;
    color: var(--clr-4);
}

.main-logo {
    font-family: Eurofurencer;
    font-size: 2.5em;
}

.main-logo span {
    color: var(--clr2)
}